@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义样式 */
.nav-link {
  @apply text-gray-600 hover:text-red-600 font-medium relative px-2 py-1 transition-colors duration-300;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #C24D45;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  @apply text-red-600;
}
